.breadcrumb {
    display: flex;
    .breadcrumb__link, .breadcrumb__text {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .breadcrumb__link{
        cursor: pointer;
    }
    .breadcrumb__separator {
        color: #F2D12E;
        font-weight: 900;
        font-size: 1.5rem;
        padding: 0 1.5rem;
    }
}