.logo-section {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between; 
    padding: 1.5rem 1.75rem;
    background-color: #FFFFFF;
    z-index:1;
}
.navigation-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
}